<% provide(:title, 'Contact') %>

<!-- Begin style break with section title -->

<div class="row">
  <div class="large-10 columns">
    <hr>
  </div>
  <div class="large-2 columns">
    <h3>CONTACT</h3>
  </div>
</div>
  
<!-- End style break with section title -->

<!-- Begin contact info -->

<div class="row">
  <div class="large-12 columns">
    <h3>Masta Mindz LLC</h3>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h4><u>PHONE</u></h4>
    <p>Kevin Lee<br>
      (516) 643-5212</p>
    <p>Istafa Marshall<br>
      (631) 579-9598</p>
  </div>
  <div class="large-6 columns">
    <h4><u>EMAIL</u></h4>
      <p>Mastamindzllc@gmail.com</p>
  </div>
</div>

<!-- End contact info -->