<% provide(:title, 'Services') %>

<!-- Begin style break with section title -->

<div class="row">
  <div class="large-10 columns">
    <hr>
  </div>
  <div class="large-2 columns">
    <h3>SERVICES</h3>
  </div>
</div>
  
<!-- End style break with section title -->

<!-- Begin services section -->

  <div class="row">
  
    <div class="large-4 columns">
      <img src="/assets/mastamindz_beats.jpg" />
      <h4>Beats</h4>
      <p>Over 350 tracks to choose from and mixed in Pro Tools. We make custom beats TOO! Just tell us what you want and we'll make it happen!</p>
      <p><%= link_to "Contact us!", contact_path %></p>
    </div>
    
    <div class="large-4 columns">
      <img src="/assets/mastamindz_ring_tones.jpg" />
      <h4>Ring Tones</h4>
      <p>Masta Mindz created ringtones for your phone!</p>
      <p>COMING SOON!!!!!!!</p>
    </div>
    
    <div class="large-4 columns">
      <img src="/assets/mastamindz_studio_time.jpg" />
      <h4>Studio Time</h4>
      <p>Affordable studio using state of the art equipment giving you the best sound possible.</p>
      <p>COMING SOON!!!!!!!</p>
    </div>
	
    </div>
  
<!-- End services section -->