<footer class="row">
  <div class="large-12 columns">
    <hr />
  <div class="row">
  <div class="large-6 columns">
    <p>©2013 Masta Mindz LLC</p>
  </div>
  <div class="large-3 columns">
    
  </div>
  <div class="large-3 columns">
    <a href="https://soundcloud.com/mastamindzllc" class="fc-webicon soundcloud">soundcloud</a>
    <a href="https://twitter.com/MastaMindzLLC" class="fc-webicon twitter">twitter</a>
    <a href="https://www.youtube.com/MastaMindzLLC" class="fc-webicon youtube">youtube</a>
    <a href="https://www.facebook.com/MastaMindzLLC" class="fc-webicon facebook">facebook</a>,</p>
  </div>
  </div>
  </div>
</footer>